// Fonte padrão
$fonte-padrao: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// Cores
$cor-fundo: #fff;
$cor-texto: #333;
$cor-branca: #fff;
$cor-hover: #a71a1a;
$cor-placeholder: #ffffff93;
$cor-btn-hover: #ffffff10;

// Background do rodapé
$bg-color-rodape: #333;

// Margens
$margin-padrao: 2em;

// Breakpoints
$breakpoint-mobile: 768px;

// Tamanhos de fonte
$tamanho-fonte-padrao: 100%;