@import "./_variaveis";

#Conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50rem;

    div {
        padding: 50px;
        border: 1px solid #ccc;

        h3 {
            font-size: 1.2rem;
            margin-bottom: 10px;
        }

        p {
            line-height: 1.5;
        }
    }
}

html {
    font-size: $tamanho-fonte-padrao;
}

@media (max-width: $breakpoint-mobile) {
    img {
        max-width: 0;
    }
}