@import "/src/styles/_variaveis";

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 4.5em;
}

.rodape {
    bottom: 0;
    width: 100%;
    background-color: $bg-color-rodape;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: $cor-branca;
    padding: 17px;
    position: absolute;
    text-align: center;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
}